PORT=8082
DATABASE_URL=host=localhost user=postgres password=postgres dbname=facility_db port=5433 sslmode=disable TimeZone=Asia/Bangkok
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=facility-booking
# KEYCLOAK_ISSUER=http://localhost:8080/realms/facility-booking
